<app-navbar></app-navbar>
<section class="container-fluid et-contact-us">
  <div class="section-heading text-center">

    <h2 class="text-capitalize font-weight-bold">contact <span class="text-yellow">us</span></h2>
    <p class="description mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="contactusmap"></div>
      </div>
      <div class="col-md-5 p">
        <div class="contact-info">
          <div class="widget-content shadow-box p-4 bg-white">
            <div class="content-heading position-relative mb-4">
              <h6 class="text-yellow position-relative m-0 text-capitalize border d-inline-block rounded p-3 bg-white small font-weight-bold">contact details</h6>
            </div>
            <div class="meta mb-4 pt-2 text-left d-flex align-items-center pr-1 pl-1">
              <i class="rounded-pill d-inline-block mr-3 icon-bg bg-white">
                <img src="../../../assets/img/icons/phone.png" class="f-icon" alt="img">
              </i>
              <p class="align-bottom text-yellow d-inline-block m-0">+22 123 456 7</p>
            </div>
            <div class="meta mb-4 pt-2 text-left d-flex align-items-center pr-1 pl-1">
              <i class="rounded-pill d-inline-block mr-3 icon-bg bg-white">
                <img src="../../../assets/img/icons/email.png" class="f-icon" alt="img">
              </i>
              <p class="align-bottom text-reset d-inline-block m-0">queries@restaurant.com</p>
            </div>
            <div class="meta mb-4 pt-2 text-left d-flex align-items-center pr-1 pl-1">
              <i class="rounded-pill d-inline-block mr-3 icon-bg bg-white">
                <img src="../../../assets/img/icons/address.png" class="f-icon" alt="img">
              </i>
              <p class="align-bottom description d-inline-block m-0">89 Hill Road, Folsome Street 3H California, United States</p>
            </div>
            <hr>
            <p class="pt-2">Follow us on our social media <br> accounts</p>
            <div class="chef-social pb-4 mb-4">
              <a href="#" class="d-inline-block rounded-pill fb-icon"><i class="fa fa-facebook"></i></a>
              <a href="#" class="d-inline-block rounded-pill ig-icon"><i class="fa fa-instagram"></i></a>
              <a href="#" class="d-inline-block rounded-pill wa-icon"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 mt-5  p">
        <div class="content-heading position-relative mb-3">
          <h6 class="text-yellow position-relative m-0 text-capitalize border d-inline-block rounded p-3 bg-white small font-weight-bold">drop a message</h6>
        </div>
        <form name="form" autocomplete="off">
          <div class="form-group mt-4">
            <input type="text" placeholder="Your name" class="form-control shadow-box bg-white border-white" name="name">
          </div>
          <div class="form-group mt-4">
            <input type="text" placeholder="Your email" class="form-control shadow-box bg-white border-white" name="email">
          </div>
          <div class="form-group mt-4">
            <input type="text" placeholder="Contact no." class="form-control shadow-box bg-white border-white" name="contact">
          </div>
          <div class="form-group mt-4">
            <textarea class="form-control shadow-box bg-white border-white" rows="6" placeholder="Your message"></textarea>
          </div>
          <a href="#" class="btn shadow mt-2 bg-yellow text-capitalize text-white">submit</a>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
