<app-navbar></app-navbar>
    <!-- Page Heading -->
    <section class="et-page-title">
      <div class="container">
          <h1 class="text-white">Faq's <span class="icon-food d-block h1 mb-2"></span></h1>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Faq's</a></li>
          </ul>
      </div>
  </section>
  <!-- /Page Heading -->
<div class="container-fluid">
  <div class="row mt-5">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align:center;">
          <h2 class="text-dark" style="border-bottom: 2px dotted red;">Jolo food delivery <span class="text-yellow">FAQ'S</span></h2>
      </div>
      <div class="col-md-4"></div>
  </div>
  <div class="row mt-3">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <div class="qus">
              <h4 class="text-yellow">Q1- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, id!</h4>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatem fugit! Corporis incidunt architecto fuga obcaecati ipsum quo error dolorum ad vero soluta tempora iure, minus pariatur totam nihil magni.
              </p>
          </div>
          <div class="qus">
            <h4 class="text-yellow">Q1- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, id!</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatem fugit! Corporis incidunt architecto fuga obcaecati ipsum quo error dolorum ad vero soluta tempora iure, minus pariatur totam nihil magni.
            </p>
        </div>
        <div class="qus">
          <h4 class="text-yellow">Q1- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, id!</h4>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatem fugit! Corporis incidunt architecto fuga obcaecati ipsum quo error dolorum ad vero soluta tempora iure, minus pariatur totam nihil magni.
          </p>
      </div>
      <div class="qus">
        <h4 class="text-yellow">Q1- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, id!</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatem fugit! Corporis incidunt architecto fuga obcaecati ipsum quo error dolorum ad vero soluta tempora iure, minus pariatur totam nihil magni.
        </p>
    </div>
    <div class="qus">
      <h4 class="text-yellow">Q1- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, id!</h4>
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatem fugit! Corporis incidunt architecto fuga obcaecati ipsum quo error dolorum ad vero soluta tempora iure, minus pariatur totam nihil magni.
      </p>
  </div>
      </div>
      <div class="col-md-1"></div>
  </div>
</div>

<app-footer></app-footer>
