<app-navbar></app-navbar> <br /><br />
<div class="content mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- meta -->
        <div class="profile-user-box card-boxx bg-custom">
          <div class="row">
            <div class="col-sm-6">
              <span class="float-left mr-3"
                ><img
                  src="http://www.cookingpilote.com/img/userimg/{{
                    profilepicture
                  }}"
                  alt=""
                  class="thumb-lg rounded-circle"
              /></span>
              <div class="media-body text-white">
                <h4 class="mt-1 mb-1 font-18">{{ userdetail.firstname }}</h4>
                <div *ngIf="user">
                  <p class="font-13 text-light">User Dashboard</p>
                </div>
                <div *ngIf="driver">
                  <p class="font-13 text-light">Driver Dashboard</p>
                </div>
                <p class="text-light mb-0">{{ userdetail.address }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-right">
                <button
                  type="button"
                  class="btn btn-light waves-effect"
                  data-toggle="modal"
                  data-target="#editmodal"
                >
                  <i class="mdi mdi-account-settings-variant mr-1"></i> Edit
                  Profile
                </button>
                <button
                  *ngIf="userdetail.role == 1000"
                  class="btn btn-link text-white"
                  data-target="#applyvendore"
                  data-toggle="modal"
                >
                  <small>Be a vendor</small>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--/ meta -->
      </div>
    </div>

    <!-- end row -->
    <div class="row">
      <div class="col-xl-4">
        <!-- Personal-Information -->
        <div class="card-boxx">
          <h4 class="header-title mt-0">Personal Information</h4>
          <div class="panel-body">
            <hr />
            <div class="text-left">
              <p class="text-muted font-13">
                <strong>Full Name :</strong>
                <span class="m-l-15">
                  {{ userdetail.firstname }} {{ userdetail.middlename }}
                  {{ userdetail.lastname }}
                </span>
              </p>
              <p class="text-muted font-13">
                <strong>Mobile :</strong
                ><span class="m-l-15">{{ userdetail.number }}</span>
              </p>
              <p class="text-muted font-13">
                <strong>Email :</strong>
                <span class="m-l-15">{{ userdetail.email }}</span>
              </p>
              <p class="text-muted font-13">
                <strong>Location :</strong>
                <span class="m-l-15">{{ userdetail.address }}</span>
              </p>
              <p class="text-muted font-13">
                <strong>Languages :</strong>
                <span class="m-l-5"
                  ><span
                    class="flag-icon flag-icon-us m-r-5 m-t-0"
                    title="us"
                  ></span>
                  <span>English</span>
                </span>
              </p>
            </div>
            <ul class="social-links list-inline mt-4 mb-0">
              <li class="list-inline-item">
                <a
                  title=""
                  data-placement="top"
                  data-toggle="tooltip"
                  class="tooltips"
                  href=""
                  data-original-title="Facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  title=""
                  data-placement="top"
                  data-toggle="tooltip"
                  class="tooltips"
                  href=""
                  data-original-title="Twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  title=""
                  data-placement="top"
                  data-toggle="tooltip"
                  class="tooltips"
                  href=""
                  data-original-title="Skype"
                  ><i class="fa fa-skype"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-boxx tilebox-one">
              <i class="icon-layers float-right text-muted"></i>
              <h6 class="text-muted text-uppercase mt-0">Total orders</h6>
              <h2 class="" data-plugin="counterup">5</h2>
              <span class="badge badge-custom">+11% </span
              ><span class="text-muted">From previous period</span>
            </div>
          </div>
          <!-- end col -->
          <div class="col-sm-4">
            <div class="card-boxx tilebox-one">
              <i class="icon-paypal float-right text-muted"></i>
              <h6 class="text-muted text-uppercase mt-0">Referal code</h6>
              <h2 class="">
                <span data-plugin="counterup">{{ refralcode }}</span>
              </h2>
              <span class="badge badge-danger">-30% </span
              ><span class="text-muted">If 10 users signup using this.</span>
            </div>
          </div>
          <!-- end col -->
          <div class="col-sm-4">
            <div class="card-boxx tilebox-one">
              <i class="icon-rocket float-right text-muted"></i>
              <h6 class="text-muted text-uppercase mt-0">Any Notification</h6>
              <h2 class="" data-plugin="counterup">Sometext</h2>
              <span class="badge badge-custom">some badge </span
              ><span class="text-muted">some text here</span>
            </div>
          </div>
          <!-- end col -->
        </div>
<div class="card-boxx" *ngIf="driverTrackingArea">
  <div class="row">
    <div class="col-md-5">
<div id="trackingmap"></div>

    </div>
    <div class="col-md-7">
      <div class="row d-flex justify-content-center">
        <div class="col-md-11">
            <div class="card">
              <h2 class="font-weight-bold ml-5 mt-3 text-dark">Jolo Food <span class="text-yellow">Delivery</span></h2>
                <div class="upper p-4">
                    <div class="d-flex justify-content-between">

                        <div class="d-flex flex-row align-items-center">
                            <div class="add"> <span class="font-weight-bold d-block">From: </span> <span class="font-weight-bold d-block"> TO: </span> <small></small> </div>
                        </div>
                    </div>
                    <hr>
                    <div class="delivery">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Estimated Time for delivery</span> </div> <span class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="transaction mt-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Estimate Distance </span> </div> <span class="font-weight-bold"> </span>
                        </div>
                    </div>
                    <div class="transaction mt-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Driver Available</span> </div> <span class="font-weight-bold">2 </span>
                        </div>
                    </div>
                    <hr>

                <div class="lower tab-content rounded rounded et-navtabs-pane p-4 py-5 text-white d-flex justify-content-between">
                    <div class="d-flex flex-column"> <span>Cost and service charges</span> <small>Will be applied after driver confirms your parcel</small> </div>
                   <button class="btn shadow mt-3 bg-yellow text-capitalize text-white float-right">Compelete</button>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>
  </div>
</div>
        <div class="card-boxx">
          <h4 class="header-title mb-3">My Orders history</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Food name</th>
                  <th>Vendore</th>
                  <th>Date</th>
                  <th>Payment</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Pizza</td>
                  <td>Spicy Bites</td>
                  <td>07/05/2022</td>
                  <td><span class="label label-info">$45</span></td>
                  <td>Done</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
</div>

<div
  class="modal fade"
  id="editmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog border-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Edit user</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editform="ngForm" (submit)="editsubmit(editform)">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="Firstname"><small>First Name:</small></label>
                <input
                  [(ngModel)]="edituser.firstname"
                  name="firstname"
                  #firstname="ngModel"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="Firstname"><small>Middle Name:</small></label>
                <input
                  type="text"
                  [(ngModel)]="edituser.middlename"
                  name="middlename"
                  #middlename="ngModel"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="Firstname"><small>Last Name:</small></label>
                <input
                  type="text"
                  [(ngModel)]="edituser.lastname"
                  name="lastname"
                  #lastname="ngModel"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label> <small>Address:</small></label>
            <input
              type="text"
              [(ngModel)]="edituser.address"
              name="address"
              #address="ngModel"
              class="form-control"
            />
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> <small>Email:</small></label>
                <input
                  [(ngModel)]="edituser.email"
                  name="email"
                  #email="ngModel"
                  type="email"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label> <small>Phone number:</small></label>
                <input
                  [(ngModel)]="edituser.number"
                  name="number"
                  #number="ngModel"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> <small>Old Password:</small></label>
                <input
                  [(ngModel)]="edituser.oldpass"
                  name="oldpass"
                  #oldpass="ngModel"
                  type="password"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label> <small>New Password:</small></label>
                <input
                  [(ngModel)]="edituser.newpass"
                  name="newpass"
                  #newpass="ngModel"
                  type="password"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <input
            type="submit"
            class="btn btn-success float-right"
            value="Save changes"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="applyvendore"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Apply For Vendor</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" id="modalhide">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #applyvendoreForm="ngForm"
          (submit)="applyvendore(applyvendoreForm)"
        >
          <div class="form-group">
            <label for="Name"><small>Your Bussnies name:</small></label>
            <input
              [(ngModel)]="vapplyvendore.bussniesname"
              name="bussniesname"
              type="text"
              class="form-control"
              #bussniesname="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <label for="Address"><small>Your Bussnies address:</small></label>
            <input
              [(ngModel)]="vapplyvendore.baddress"
              name="baddress"
              type="text"
              class="form-control"
              #baddress="ngModel"
              required
            />
            <small
              ><span class="text-danger">NOTE:</span>Please fill this form. Jolo
              Food's will let you know when you will be aligable for
              Vendore</small
            >
          </div>
          <input
            type="submit"
            value="Apply"
            class="btn btn-sm btn-warning float-right"
          />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button
  type="button"
  id="openReqModal"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#staticBackdrop"
  hidden
>
  Show Modal
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content" style="border-radius: 20px">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">You Got and order</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="closeParcelModal"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4"> <img src="https://www.flaticon.com/svg/static/icons/svg/2037/2037790.svg"  width="100" alt=""></div>
          <div class="col-md-4">
            <ul class="list float-left text-left">
              <li>From:</li>
              <li>To:</li>
              <li>Note:</li>
              <li>Total Distance:</li>
            </ul>
           
          </div>
          <div class="col-md-4">
            <ul class="list float-right text-right">
              <li>{{ parcelReqDetails.pickup }}</li>
              <li>{{ parcelReqDetails.pickup }}</li>
              <li>{{ parcelReqDetails.note }}</li>
              <li>{{ parcelReqDetails.total_distance }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Reject
        </button>
        <button type="button" (click)="confirmParcel()" class="btn btn-success">
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
