<app-navbar></app-navbar>


		<!-- Page Heading -->
		<section class="et-page-title">
			<div class="container">
				<h1 class="text-white">About Us <span class="icon-food d-block h1 mb-2"></span></h1>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
			</div>
		</section>
		<!-- /Page Heading -->
  <section class="container-fluid et-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="font-weight-bold text-yellow text-uppercase">get to know</span>
          <h1 class="display-4 font-weight-bold">Our Intro</h1>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p class="description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          </p>
          <a href="#" class="btn shadow mt-3 bg-yellow text-capitalize text-white">read more</a>
        </div>
        <div class="col-md-6 mt-md-0 mt-5">
          <div class="img-wrapper">
            <div class="imgbox">
              <img src="../../../assets/img/about.jpg" alt="about">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid et-chefs bg-alter">
    <div class="container">
      <div class="section-heading text-center">
        <h2 class="text-capitalize font-weight-bold">top <span class="text-yellow">vendors</span></h2>
        <p class="description mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor</p>
      </div>
      <div class="row">
        <!-- Chef -->
        <div class="col-lg-4 col-md-6">
          <div class="shadow-box bg-white text-center p-4 chef">
            <span class="clip-hexagon m-auto transition">
              <img src="img/chef-1.jpg" alt="img">
            </span>
            <p class="position d-inline-block position-relative">
              Top rated
            </p>
            <h4 class="font-weight-bold"><a href="#" class="text-reset text-capitalize text-decoration-none link-hover">Stephen anderson</a></h4>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...
            </p>
            <hr>

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- CTA 2 -->
  <section class="container-fluid et-big-cta position-relative">
    <div class="cta-content text-white text-center position-relative">
      <h1 class="text-white"><span class="text-yellow">Watch</span> How it works</h1>
      <p class="hide-br text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua.</p>
      <i class="fa fa-youtube transition d-inline-flex align-items-center justify-content-center bg-yellow rounded-pill text-white vidplayicon" data-toggle="modal" data-target="#videoModal"></i>
    </div>
  </section>
<app-footer></app-footer>

